/* Color pallete: 
Ice Cold: #a0d2eb

Freeze Purple: #e5eaf5

Medium Purple: #d0bdf4

Purple Pain: #8458B3

Heavy Purple: #a28089

Dark Gray: #494d5F */

body {
    box-sizing: border-box;
    background-color: #494D5F;
    font-family: 'Roboto', sans-serif;
    color: #E5EAF5;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 15px; 

}

.email {
  font-size: 20px;
  display: flex;
  align-items: flex-end;
}

ul {
    list-style: none;
    margin-bottom: 16px;
    padding: 0;
}

 a {
    text-decoration: none;
    color: #D3D3D3;
 }

 .sidebar {
    width: 150px;
    background-color: #494D5F;
    color: #494D5F;
    box-sizing: border-box;
    padding: 16px;
    flex-shrink: 0;
    margin: 0;
   
  }



  .main {
    display: flex;
    flex: 1;
  }

  .content {
    background-color: #D3D3D3;
    padding: 10px;
    color: #494D5F;
    border-radius: 5px;
    margin-top: 25px;
    flex: 1;
    border: 5px, solid, #a0d2eb;
  }


  .footer {
    display: flex;
    background-color: #D3D3D3;
    color: #494D5F;
    border: 5px, solid, #a0d2eb;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: flex-end;
    flex: 1;
  }