{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="project-entry">
    <h2>{{ object.title }}</h2>
    <p> {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>

<hr>
<h4>Comments</h4>
{% for comment in project.comment_set.all %}
<p>{{comment.author }} &middot; {{comment }}</p>
{% endfor %}
<hr>

{% if user.is_authenticated %}
<h4>Add a comment</h4>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-outline-success ms-2" type="submit">Save</button>
</form>
{% endif %}

{% if user.is_superuser %}
<p><a href="{% url 'project_edit' project.pk %}">Edit</a>
    <a href="{% url 'project_delete' project.pk %}">Delete</a>
</p>
{% endif %}
<p>Back to <a href="{% url 'project_list' %}">All Articles</a>.</p>
{% endblock content %}