{% extends "base.html" %}

{% block title %}Projects{% endblock title %}

{% block content %}
{% for project in project_list %}
<div class="card">
  <div class="card-header">
    <span class="fw-bold">
      <a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
    </span> &middot;
    <span class="text-muted"> {{ project.date }}</span>
  </div>
  <div class="card-body">
    {{ project.body }}
  </div>
  <div class="card-footer text-center text-muted">
    {% if user.is_superuser %}
    <a href="{% url 'project_edit' project.pk %}">Edit</a>
    <a href="{% url 'project_delete' project.pk %}">Delete</a>
    {% endif %}
    {% if user.is_authenticated %}
    <a href="{{ project.get_absolute_url }}">New Comment</a>
    {% endif %}
  </div>
  <div class="card-footer">
    {% for comment in project.comment_set.all %}
    <p>
      <span class="fw-bold">
        {{ comment.author }} &middot;
      </span>
      {{ comment }}
    </p>
    {% endfor %}
  </div>
</div>
<br />
{% endfor %}
{% endblock content %}